@charset "UTF-8";

html, body{
	height: 100%;
}


a{
	text-decoration: none;
	color: white;
	transition: .3s;
}

a:visited{
	color: white;
}

a:hover{
	color: red;
	transform: translateY(-10%);
}

#logOutBtn{
	background-color: transparent;
	border: none;
	color: white;
	font-size: 1rem;
	transition: .3s;
	cursor: pointer;
}

#logOutBtn:hover{
	color: red;
}

/*홈 컨테이너*/
.homeContainer{
	height: 100%;
	font-family: 'Black Han Sans';
	background-color: var(--mainColor);
}
/*상단*/
.homeTop{
	height: 10%;
	/* border: 3px solid yellow; */
	display: flex;
	
}
/*아이디 구역*/
.idDiv{
	padding-left: 1rem;
	width: 80%;
	color: white;
	display: flex;
	align-items: center;
    
}

.loginNameSpan{
	color: var(--fontColor);
	font-size: 1.5rem;
}
/*메뉴 구역 */
.menuDiv{
	width: 20%;
	color: white;
	display: flex;
	align-items: center;
    justify-content: space-around;
}
/*메인*/
.homeMain{
	/* border: 3px solid black; */
	height: 90%;
	display: flex;
	transition: .3s;
	
}

h1{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	z-index: 99;
	transition: .3s;
}

img{
	width: 100%;
	height: 100%;
	object-fit : fill;
	transition: .3s;
}

/*쇼핑몰*/
.shopDiv{
	position: relative;
	width: 50%;
	height: 100%;
	display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: var(--mainColor);
    border: 1px solid black;
    cursor: pointer;
    transition: .3s;
    overflow: hidden;
    
}

.shopDiv:hover img{
	/* transform: scale(1.1,1.1); */
	opacity: 0.2;
	
}
.shopDiv:hover h1{
	transform: translate(-50%,-70%);
	color: red;
}
/*커뮤니티*/
.communityDiv{
	position: relative;
	width: 50%;
	height: 100%;
	display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: var(--mainColor);
    border: 1px solid black;
    cursor: pointer;
    transition: .2s;
    overflow: hidden;
}

.communityDiv:hover img{
	/* transform: scale(1.1,1.1); */
	opacity: 0.2;	
	
}
.communityDiv:hover h1{
	transform: translate(-50%,-70%);
	color: red;
	
}


