main{
    width: 100%;
    background-color: var(--subColor);
    display: flex;
    flex-direction: column;
}

/*상단*/
main .productTop{
    width: 100%;
    height: 100vh;
    display: flex;
    /* border: 1px solid orangered; */
}

/*상단 왼쪽 상품 이미지 구역*/
main .productTop .topLeft{
    width: 50%;
    height: 100%;
    /* border: 1px solid orangered; */
}
/*메인 이미지*/
main .productTop .topLeft .mainImgDiv{
    width: 100%;
    height: 80%;
    border: 1px solid orangered;
    padding: 1rem;
}
main .productTop .topLeft .mainImgDiv .productMainImg{
    width: 100%;
    height: 100%;
    object-fit: fill;
}

/*서브이미지*/
main .productTop .topLeft .subImgDiv{
    width: 100%;
    height: 20%;
    border: 1px solid black;
    display: flex;
    padding: 1rem;
}
main .productTop .topLeft .subImgDiv .productSubImg{
    width: 20%;
    height: 100%;
    object-fit: fill;
    margin-right: 1rem;
}

.subImgDiv img{
	border: 3px solid black;
	transition: .3s;
}

.subImgDiv img:hover{
	transform: scale(1.1,1.1);
}

/*상단 오른쪽*/
main .productTop .topRight{
    width: 50%;
    height: 100%;
    /* border: 1px solid yellow; */
}
/*상단 오른쪽 상품 설명 구역*/
main .productTop .topRight .descriptionDiv{
    width: 100%;
    height: 70%;
    border: 1px solid saddlebrown;
    padding: 1rem;
   /*  font-family: 'GimpoGothicRegular00'; */
    font-family: 'GimpoGothicBold00';
}
main .productTop .topRight .descriptionDiv .descriptionTable{
    width: 100%;
    height: 100%;
    border-collapse: collapse;
    color: white;
}
.descriptionTable tr{
    border: 1px solid var(--borderColor);
}
.descriptionTable td{
    padding: 1rem;
}
/*상단 오른쪽 수량 선택 구역*/
main .productTop .topRight .quantityDiv{
    width: 100%;
    height: 15%;
    /* border: 1px solid blanchedalmond; */
    display: flex;
}
main .productTop .topRight .quantityDiv .quantityLeft{
    width: 50%;
    height: 100%;
    border: 1px solid blanchedalmond;
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding: 1rem; */
}
main .productTop .topRight .quantityDiv .quantityLeft .quantityCon{
    width: 40%;
    height: 70%;
    border: 3px solid seagreen;
    display: flex;
}
.quantityConLeft{
    width: 70%;
    height: 100%;
}
.quantityConLeft #quantityText{
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 2rem;
    background-color: var(--mainColor);
    color: var(--subFontColor);
    font-family: 'GimpoGothicBold00';
    border: none;
    user-select: none;
}
#productPriceSpan{
	font-family: 'GimpoGothicBold00';
	font-size: 2rem;
}
.quantityConRight{
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.quantityConRight .quantityBtn{
    width: 100%;
    height: 50%;
    color: white;
    background-color: var(--sub2Color);
    font-family: 'GimpoGothicBold00';
    transition: .3s;
    cursor: pointer;
    border: none;
}

.quantityBtn:hover{
	background-color: var(--mainColor);
}
main .productTop .topRight .quantityDiv .quantityRight{
    width: 50%;
    height: 100%;
    border: 1px solid greenyellow;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    /* padding: 1rem; */
}
/*상단 오른쪽 버튼 구역*/
main .productTop .topRight .btnDiv{
    width: 100%;
    height: 15%;
    border: 1px solid cornflowerblue;
    display: flex;
    align-items: center;
    justify-content: space-around;
}



main .productTop .topRight .btnDiv .productBtn{
    width: 100px;
    height: 50px;
}


/*중단*/
main .productMiddle{
    width: 100%;
    border: 1px solid blue;
    position: relative;
}

/*메인이미지 컨테이너*/
.productImgDiv{
    width: 100%;
    height: 60vh;
    overflow: hidden;
    background-color: var(--subColor);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mainImgs{
    width: 800px;
    border: 5px solid crimson;
    object-fit: fill;
}

.viewMoreDiv{
    position: absolute;
    bottom: 10px;
    background: var(--mainColor);
    cursor: pointer;
    color: white;
    width: 200px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s;
    font-family: 'Black Han Sans';
}

.viewMoreDiv:hover{
	color: red;
}

/*하단 상품 리뷰 구역*/
main .productBottom{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 1px solid white; */
    background-color: var(--subColor);
}

.productBottom .reviewTop{
    width: 80%;
    height: 1000px;
    border: 3px solid aquamarine;
}

.reviewTop h3{
	color: white;
}

.reviewTitle{
    font-size: 2rem;
    padding: 1rem;
    height: 20%;
    border-bottom: 3px solid var(--borderColor);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Black Han Sans';
    color: white;
}

.colorSpans{
	color: var(--fontColor);
}

.reviewGraphDiv{
    padding: 1rem;
    display: flex;
    height: 80%;
}
/*리뷰 점수*/
.reviewGrade{
    width: 50%;
    height: 100%;
    border: 3px solid black;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/*리뷰 그래프*/
.reviewGraph{
    width: 50%;
    height: 100%;
    border: 3px solid white;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.productBottom .reviewBottom{
    width: 80%;
    border: 3px solid salmon;
}
/*리뷰들 반복*/
.reviews{
    width: 100%;
    height: 600px;
    border: 3px solid black;
    margin: 2rem 0;
    padding: 1rem;
    color: var(--subFontColor);
    font-family: 'GimpoGothicBold00';
    display: flex;
    flex-wrap: wrap;
}
/*리뷰 안 공통*/
.reviewsDiv{
	border: 3px solid white;
	padding: 1rem;
}

.reviewsHeader, .reviewsGrade{
	width: 100%;
	height: 20%;	
}

.reviewsHeader{
	display: flex;
	align-items: center;
    justify-content: space-between;
}
/*리뷰작성자*/
.reviewWriterSpan{
	font-size: 1.4rem;
	color: var(--fontColor);
}

.reviewsGrade{
	display: flex;
}

.reviewsGradeInner{
	border: 3px solid blue;
	width: 50%;
	height: 100%;
}

/*별점*/
.star {
	color: yellow;
  	font-variation-settings:
  	'FILL' 1,
  	'wght' 400,
  	'GRAD' 0,
  	'opsz' 48;
}

.reviewsGradeInnerThumb{
	text-align: right;
}

/*리뷰 도움이되요*/
.thumb {
	cursor: pointer;
	color: rgb(139, 197, 255);
	transition: .3s;
  	font-variation-settings:
  	'FILL' 1,
  	'wght' 400,
  	'GRAD' 0,
  	'opsz' 48;
}
.thumb:hover{
	color: rgb(0, 128, 255);
}



.reviewsContent, .reviewsPhoto{
	width: 50%;
	height: 60%;
	font-family: 'GimpoGothicBold00';
	display: flex;
}

.reviewsPhotoInner{
	border: 3px solid red;
	width: 50%;
	height: 100%;
}
/*리뷰 비디오 커버 디비전*/
.reviewsPhotoInnerVideo{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.veiwMoreRewviesDiv{
	font-family: 'Black Han Sans';
    background-color: var(--mainColor);
    color: white;
    width: 200px;
    height: 30px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: .3s;
}

.veiwMoreRewviesDiv:hover{
	color: red;
}

/*네비게이터 */
.navigatorContainer{
	font-family: 'Black Han Sans';
    width: 150px;
    height: 400px;
    background-color: blueviolet;
    position: fixed;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    opacity: 0;
    transition: .5s;
    
}

.navigatorContainer div:hover{
	color: red;
}

.toTopDiv{
    width: 100%;
    height: 20%;
    border:3px solid white;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s;
}

.toReveiwCon{
    width: 100%;
    height: 20%;
    border:3px solid white;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s;
}

.toBottomDiv{
    width: 100%;
    height: 20%;
    border:3px solid white;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s;
}

.youtubeDiv{
	width: 100%;
    height: 40%;
    border:3px solid white;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s;
}