/*주문 상세 컨테이너*/
.orderContainer{
    width: 70%;
    margin: 0 auto;
    
}

/*주소*/
.orderContainer .orderAddressDiv{
    width: 100%;
    border: 3px solid crimson;
}

.addressDiv{
    height: 300px;
    background-color: aliceblue;
    padding: 1rem;
}

#requestSelect{
    width: 100%;
    padding: 0.7rem;
}

#requestTextarea{
    width: 100%;
    padding: 1rem;
}

/*상품정보*/
.orderContainer .orderProductDiv{
    width: 100%;
    border: 3px solid blue;
}

.orderProductBottom{
    display: flex;
    width: 100%;
    height: 300px;
    background-color: yellow;
}

.productImgDiv{
    width: 30%;
    height: 100%;
    background-color: rebeccapurple;
    
}

.productImg{
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.productDetail{
    background-color: red;
    width: 70%;
    height: 100%;
    padding: 1rem;
}

/*결제정보*/
.orderContainer .orderPriceDiv{
    width: 100%;
    border: 3px solid white;
}

.orderPriceBottom{
    width: 100%;
}

.orderPriceBottom table{
    width: 100%;
    border-collapse: collapse;
}

.orderPriceBottom table td{
    border: 1px solid white;
    padding: 1rem;
}

.orderPriceBottom table td:first-child{
    width: 70%;
}

.orderPriceBottom table td:last-child{
    width: 30%;
}

#insertCouponBtn{
    background-color: var(--mainColor);
    color: white;
    padding: 0.5rem;
}

.productQuantitySpan{
    color: var(--fontColor);
    font-size: 2rem;
}



/*결제하기버튼*/
.orderContainer .orderPaymentDiv{
    width: 100%;
    border: 3px solid dodgerblue;
}

.orderPaymentBottom{
    display: flex;
    flex-direction: row-reverse;
}

.orderPaymentBottom #paymentBtn{
    background-color: var(--mainColor);
    color: white;
    padding: 1rem;
    
}

/*상세 TOP 디비전 공통*/
.orderAddressTop, .orderProductTop, .orderPriceTop, .orderPaymentTop{
    width: 100%;
    font-size: 1.5rem;
    color: white;
    padding: 1rem;
    border-bottom: 3px solid var(--borderColor);
}

/*상세 BOTTOM 디비전 공통*/
.orderAddressBottom, .orderProductBottom, .orderPriceBottom, .orderPaymentBottom{
    width: 100%;
    /* height: 600px; */
    padding: 1rem;
}

/*쿠폰사용 컨테이너*/
.couponUseCon{
    display: none;
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.221);
    backdrop-filter: blur(4px);
}

.couponDiv{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 400px;
    height: 50px;
    background-color: white;
    display: flex;
}
#useCouponText{
    width: 70%;
    height: 100%;
}
#useCouponBtn{
    width: 30%;
    height: 100%;
    background-color: var(--mainColor);
    color: white;
}

/*쿠폰정보*/
.couponInfoDiv{
	display : none;
	border: 3px solid white;
}

/*쿠폰취소*/
.couponCancle{
	color: red;
	cursor: pointer;
}

/*등급 이름 스팬 */
.gradeNameSpan{
	color: var(--fontColor);
}

/*할인 스팬들 */
.discountSpan{
	color: var(--fontColor);
}