.draw_container{
    width: 100%;
    background-color: var(--subColor);
      font-family: 'GimpoGothicBold00';
	transition: .3s;
}

.section{
    width: 100%;
}
/*메인 이미지*/
.section1{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    padding: 1rem;
    border: 3px solid bisque;
}

.section1>h1{
    font-size: 3.5rem;
    margin-bottom: 20px;
    color: var(--fontColor);
}

.section1>h1>span{
    color: white;
}

.section1_img>img{
    width: 1000px;
    height: 1000px;
    /* margin-bottom: 20px; */
} 
/*이벤트*/
.section2{
    width: 100%;
    font-family: 'GimpoGothicBold00';
	transition: .3s;

    /* background-color: red; */
    /* position: relative; */
} 
/*이벤트 상단*/
.section2-top{
    border: 3px solid violet;
    height: 100px;
    /* margin-top: 5px; */
    width: 85%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.5rem;
    padding: 2.5rem;
    color:white;
} 

#drawRegistBtn{
	  border-radius: 10px;
    width: 150px;
    height: 60px;
    padding-left: 0.5rem;
	background-color: rgb(24, 24, 24);
	font-family: 'GimpoGothicBold00';
	outline: none;
	transition: .3s;
    border: none;
    margin-top: 20px;
    font-size: 1.1rem;
    color:white;
    font-weight: bold;  
    margin-bottom:30px;  
}
#drawRegistBtn>a{
	text-decoration:none;
	color:white;
}

.section2-top>span{
    
    font-weight: bold;
}
/*이벤트 내용, foreach 반복 디비전*/
.section2-bottom{
    width: 85%;
    margin: 0 auto;
    height: auto;
    padding: 2rem;
    border: 3px solid dodgerblue;
   
    
}
/*이벤트 각각 이미지*/
.section2_img{
    border: 3px solid crimson;
    width: 80%;
    height: 600px;
    display:flex;
   justify-content: center;
   align-items: center;
}
/*.section2-bottom {
    width: 100%;
    height: 100%;  
} */


.section2-bottom .section2_font{
  /* margin-right: 700px */
  border: 3px solid green;
}

.section2-bottom .section2_font .font_top{
   border-bottom:1px solid var(--borderColor);  
   width: 100%;
   /* margin-top: 40px; */
   /* height: 70px; */
   font-size: 1.5rem;
   padding: 1rem;
   display: flex;
   justify-content: space-between;
}
/*수정, 삭제버튼 컨테이너*/
.adminBtnsContainer{
    width: 20%;
    /* background-color: blue; */
    display: flex;
    justify-content: space-between;
}
.adminBtns{
    width: 45%;
    border-radius: 4px;
    background-color: var(--mainColor);
    color: white;
    border: none;
    font-weight: 600;
}

.font_bottom{
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    padding: 1rem;
    color: white;
    /* margin-top: 20px;
    margin-bottom: 30px; */
}

table{
    border-collapse: collapse;
    
}
table td{
    border: 1px solid white;
    padding: 1rem;
}
table tr td:first{
    width: 30%;
}
table tr td:last-child{
    width: 70%;
}

/* .font_three{
    margin-left: 30px;
}

.font_four{
   margin-left: 10px;
} */

.font_top_button{
    border-radius: 10px;
    width: 300px;
    height: 70px;
    background-color: var(--mainColor);
    border: none;
    margin-top: 20px;
    font-size: 2.0rem;
    color:white;
    font-weight: bold;
}
 /*
.font_top_button_end{
    border-radius: 10px;
    width: 300px;
    height: 70px;
    background-color: var(--mainColor);
    border: none;
    margin-top: 20px;
    font-size: 2.0rem;
    color:white;
    font-weight: bold;
    border-radius: 10px;
    width: 300px;
    height: 70px;
    background-color: rgb(149, 147, 147);
    border: 1px solid rgb(157, 157, 155);
    margin-top: 20px;
    font-size: 2.0rem;
    color:black;
    font-weight: bold; */
}
/* 모달 css */
/* .modal_container{
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    z-index: 1;
} */
/* .modal_body{
    background-color: white;
    margin:8% auto;
    margin-left: 500px;
    border-radius: 4px;
    width: 1000px;
} */
/* .modal_top{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height:400px;
    background-color: white;
    color: black;
    font-size: 2.5rem;
} */
.modal_bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    font-size: 2.0rem;
}
/*응모 닫기 버튼*/
.modal_bottom_btn, .modal_final_bottom_btn{
    width: 100px;
    height: 50px;
    border: 4px;
    background-color: var(--mainColor);
    color: white;
}

.modal_final_container{
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height:100%;
    background-color: rgba(0,0,0,0.4);
    z-index: 1;
}
.modal_final_body{
    background-color: white;
    margin:8% auto;
    /* margin-left: 500px; */
    border-radius: 4px;
    width: 1000px;
    padding: 1rem;
}
.modal_final_top{
    width: 100%;
    height: 100px;
    border-bottom: 1px solid black;
    font-size: 2.5rem;
    /* background-color: white; */
    color: black;
    /* margin-left: 20px; */
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal_final_middle{
    /* background-color: white; */
    height: 300px;
    width: 100%;
    font-size: 1.8rem;
    
    
    
    /* padding-top: 20px; */
    /* line-height: 80px; */
}
.modal_final_middle span{
    display: inline-block;
    margin: 1rem;
}
.modal_final_bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 1000px;
    font-size: 2.0rem;
}
.modal_final_middle>span:nth-child(n){
    margin-left: 25px;
    background-color: white;
    color: black;
}