.draw_container{
    width: 100%;
    background-color: var(--subColor);
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 3rem;
    font-family: 'GimpoGothicBold00';
	transition: .3s;
}
/*테이블*/
.admin_body{
   width: 1500px;
    background-color: white;
    border-collapse: collapse;
    box-shadow : var(--mainColor) 0px 0px 5px 3px;
    border-radius: 10px;
    background-color:var(--subColor);
}
/*테이블 메뉴*/
.admin_body tr td:first-child{
    padding: 2rem;
    width: 40%;
    text-align: center;
    color: white;
    font-size: 2.0rem;
    font-weight: bold;
}
.admin_body tr td input:nth-child(n){
	 background-color:var(--sub2Color);
	 width:450px;
	 height:60px;
	 color:white;
	  border-radius: 10px;
	font-family: 'GimpoGothicBold00';
	transition: .3s ;
	font-size: 1.2rem;
	text-align:center;	
}
/*테이블 내용*/
.admin_body tr td:last-child{
    padding: 2rem;
    width: 60%;
}
#draw_comment{
	 background-color:rgb(40, 40, 40);
	 color:white;
	 border-radius: 10px;
	font-family: 'GimpoGothicBold00';
	transition: .3s ;	
}
/*이벤트 수정 버튼*/
.file_submit{ 
    width: 250px;
    height: 70px;
    font-size: 2.0rem;
    border-radius: 4px;
    color: white;
    border: none;
    margin-top: 2rem;
    background-color: var(--mainColor);
    border-radius: 4px;
    font-family: 'GimpoGothicBold00';
    outline: none;
	transition: .3s;
}
#draw_dealine{
	color:white;
	width:20px;
}
.open{
	color:white;
}

