main{
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'GimpoGothicBold00';
	transition: .3s;
    
}
main > form{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
h3 {
    width: 20%;
    color:white;
}
#user_Name_Text, #question_Type_Select{
    width: 80%; 
    height: 80%;
}
.Answer_Header{
    width: 50%;
    height: 50px;
    display: flex;
    align-items: center;
    color:white;
    justify-content: center;
    
}
.Answer_Name{
    width: 50%;
    height: 50px;
    display: flex;
    align-items: center;
    
}
.Answer_Date{
    width: 50%;
    height: 50px;
    display: flex;
    align-items: center;
    
}
.Answer_Type{
    width: 50%;
    height: 50px;
    display: flex;
    align-items: center;
    
}
.Answer_Title{
    width: 50%;
    height: 50px;
    display: flex;
    align-items: center;
    
}
.Answer_Title > input{
    width: 80%;
	height: 100%;
}
.Answer_Content{
    width: 50%;
    height: 150px;
    display: flex;
    align-items: center;
    
}

#question_Title_Text{
	height: 80%;
	width: 80%;
}

.admin_Content{
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: left; 
}

.admin_Content >h3 {
	width: 20%;
    height: 100%;
    padding: 10px 0px;
}
.Answer_Check{
    width: 50%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.Answer_Check > input{
    width: 100px;
    height: 40px;
    font-size: 1.0rem;
    border-style: none;
    border-radius: 5px;
    color: white;
    cursor:pointer;
    background-color : var(--mainColor);
    transition : all 0.1s;
    font-family: 'GimpoGothicBold00';
	transition: .3s;
}
.Answer_Check > input:hover{
	box-shadow : white 0 0 2px 2px;
}
