<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE  mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.goott.mapper.AdminMapper">
	
	<!-- 회원 리스트 -->
	<select id="selectAllMemberList" resultType="com.goott.domain.MemberVO">
		<![CDATA[
			select member_id, member_email, member_name, member_phone, member_age, member_gender,
				   member_postal_code, member_address, member_join_date, member_last_login_date, member_state,
				   member_withdrawal, member_email_agree, member_service_agree, member_personal_agree,
				   grade_id, member_purchase_point, member_write_point, member_profile_img_url, member_login_count,
				   member_off_limits_date, member_init_pw
			from t_member where member_auth = '회원'
		]]>
	</select>
	
	<!-- 회원 상세 정보 -->
	<select id="selectMemberInfo" parameterType="String" resultType="com.goott.domain.MemberVO">
		select member_id, member_email, member_name, member_phone, member_age, member_gender,
				   member_postal_code, member_address, member_join_date, member_last_login_date, member_state,
				   member_withdrawal, member_email_agree, member_service_agree, member_personal_agree,
				   grade_id, member_purchase_point, member_write_point, member_profile_img_url, member_login_count,
				   member_off_limits_date, member_init_pw
			from t_member where member_id = #{member_id}
	</select>
	
	<!-- 자유 게시판 글목록 -->
	<select id="selectFreeList" parameterType="String" resultType="map">
		<![CDATA[
			select board_id, board_title from t_board 
			where member_id = #{member_id}
		]]>
		
	</select>
	<!-- 캠핑 게시판 글목록 -->
	<select id="selectCampingList" parameterType="String" resultType="map">
		<![CDATA[
			select camping_id, camping_title from t_camping 
			where member_id = #{member_id}
		]]>
		
	</select>
	<!-- 질문 게시판 글목록 -->
	<select id="selectQnaList" parameterType="String" resultType="map">
		<![CDATA[
			select qna_id, qna_title from t_qna 
			where member_id = #{member_id}
		]]>
		
	</select>
	<!-- 구매 목록 -->
	<select id="selectOrderList" parameterType="String" resultType="map">
		<![CDATA[
			select o.order_id as order_id, p.product_name as product_name, o.order_state as order_state 
			from t_order o inner join t_product p on o.product_id = p.product_id where member_id = #{member_id}
		]]>
	</select>
	<!-- 프로모션 이메일 주소 가져오기 -->
	<select id="selectEmailList" resultType="String">
		<![CDATA[
			select member_email from t_member 
			where member_email_agree = 'y' and member_auth = '회원'
			
		]]>
	</select>
</mapper>