<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE  mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.goott.mapper.ProductCategoryMapper">
	<select id="get" resultType="com.goott.domain.ProductCategoryVO">
		<![CDATA[
			select product_category_id, product_category_name from t_product_category order by product_category_id
		]]>
	
	</select>
</mapper>