<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE  mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.goott.mapper.QnAMapper">
	<!-- <select id="list" resultType="com.goott.domain.QnAVO">
		select qna_id, qna_category, qna_title, qna_regdate, qna_admin_answer from t_qna
		;
	</select> -->
	
	<insert id="Question" parameterType="com.goott.domain.QnAVO">
		insert into t_qna ( member_id, qna_category, qna_public, qna_title, qna_text) 
		values( #{member_id}, #{qna_category}, #{qna_public}, #{qna_title}, #{qna_text})
	</insert>
	
	<update id="QnA_update" parameterType="com.goott.domain.QnAVO">
		update t_qna set  member_id=#{member_id}, qna_category=#{qna_category}, qna_title=#{qna_title} , qna_text=#{qna_text}, qna_public=#{qna_public}  
		where qna_id =#{qna_id};
	</update>
	
	<select id="QnA_detail" parameterType="map" resultType="com.goott.domain.QnAVO">
		select qna_id, member_id, qna_title, qna_category, qna_regdate, qna_text from t_qna where qna_id =#{qna_id};
	</select>
	
	<delete id="delete" parameterType="com.goott.domain.QnAVO">
		delete from t_qna where qna_id=#{qna_id}
	</delete>
	
	<!-- 총 게시글 갯수 출력 -->
	<select id="countQnABoard" resultType="int">
		SELECT COUNT(*) FROM t_qna;
	</select>
	<!-- 총 게시글 갯수 출력 -->
	<select id="countQnABoardCategory" parameterType="String" resultType="int">
		SELECT COUNT(*) FROM t_qna
		where qna_category=#{ckeckcategory};
	</select>
	
	<!-- 페이징 처리 후 게시글 조회 -->
	<select id="selectQnABoard" parameterType="com.goott.domain.PagingVO" resultType="com.goott.domain.QnAVO">
		
		SELECT *
			FROM (
  				SELECT @rownum:=@rownum+1  rnum, A.* 
  					FROM t_qna A, (
  									SELECT @ROWNUM := 0
  									) R
  			WHERE <choose>
					<when test="checkcategory!=null and checkcategory!='' and checkcategory != 'all'">
					qna_category = #{checkcategory} 
					</when>
					<otherwise>
						qna_category like CONCAT('%','','%') 
					</otherwise>
				</choose>
				
			) LIST
			WHERE
			 rnum between #{vo.start} AND #{vo.end} ;
	</select>

</mapper>