<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE  mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.goott.mapper.SessionMapper">
	<!-- 세션 생성시 테이블에 저장 -->
	<insert id="insertSession" parameterType="com.goott.domain.SessionVO">
		<![CDATA[
			insert into t_session(browser, ip) values(#{browser}, #{ip})
		]]>
		
	</insert>
	
	<!-- 총 방문자수 검색 -->
	<select id="selectCountTotal" resultType="_int">
		<![CDATA[
			select count(idx) as count from t_session
		]]>
	</select>
	
	<!-- 오늘 방문자수 검색 -->
	<select id="selectCountToday" resultType="_int">
		<![CDATA[
			select count(idx) from t_session where create_time > CURRENT_DATE()
		]]>
		
	</select>
	
	<!-- 이번주 방문자수 검색 -->
	<select id="selectCountWeek" resultType="_int">
		<![CDATA[
			select count(idx) from t_session where create_time between date_add(now(), interval -1 week) and now()
		]]>
	</select>
	
	
</mapper>