@charset "UTF-8";

body{
	background-color: var(--subColor);
	font-family: 'GimpoGothicBold00';
	
}
/*비밀번호 재설정 컨테이너*/
.changePasswordCon{
	width: 450px;
	height: 400px;
	padding: 1rem;
	border: 3px solid white;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	
}

/*비밀번호 인풋 구역*/
.innerTop{
	height: 70%;
	border: 3px solid green;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	
}
/*버튼 구역*/
.innerBottom{
	height: 30%;
	border: 3px solid crimson;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.explainSpan{
	color: white;
	font-size: 1.1rem;
}