main{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    background-color: var(--mainColor);
}


.section{
    width: 82%;
    min-height: auto;
    border: 5px solid tomato;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section_header{
    width: 97%;
    height: 195px;
    border: 3px solid white;
    border-radius: 5px;
    margin: 12px 0;
    color: white;
    display: flex;
    flex-direction: row;
    background-color: var(--subColor);
}

.section_header_profile{
    width: 13%;
    height: 100%;
    border: 3px solid red;
    border-radius: 5px;
}

.section_header_profile>img{
    width: 100%;
    height: 100%;
}

.section_header_info{
    width: 87%;
    height: 100%;
    border: 3px solid yellow;
}

.section_header_info>div{
    width: 100%;
    height: 33.3%;
    padding-left: 20px;
    position: relative;
    font-size: 1.2rem;
    line-height: 55px;
    border: 2px solid lightcoral;
}

.section_header_info_title_tag{
    font-weight: bolder;
}

.section_header_info_title_date{
    position: absolute;
    right: 20px;
    top:0;
}

.section_header_info_id_recommend{
    position: absolute;
    right: 78px;
    top:0;
}

.section_header_info_btns>div{
	display:flex;
	flex-direction:row;
}

.section_header_info_btns_lookup{
    position: absolute;
    right: 79px;
    top:0;
}

.section_header_info_btns_reviceBtn{
    width: 150px;
    height: 30px;
}
.section_header_info_btns_deleteBtn{
    width: 100px;
    height: 30px;
}

.section_main{
    width: 97%;
    min-height: 500px;
    height: auto;
    border: 3px solid white;
    border-radius: 5px;
    margin: 12px 0;
    color: white;
    background-color: var(--subColor);
    display: flex;
    flex-direction: column;
    padding-left: 17px;
}

.section_main>p{
    font-size: 1.2rem;
    margin: 20px 0;
}


.section_list{
	width: 97%;
	display:flex;
	justify-content: end;
}

.section_list_btn{
	width: 85px;
    height: 35px;
    font-size: 1.2rem;
    border-radius: 5px;
    background-color: var(--mainColor);
    border: none;
    color: white;
    margin-right : 17px;
}

.section_footer{
    width: 97%;
    height: auto;
    border: 3px solid white;
    border-radius: 5px;
    margin: 12px 0;
    background-color: var(--subColor);
    display: flex;
    flex-direction: column;
}

.section_footer>h1{
    color: white;
    font-size: 1.4rem;
    margin: 20px;
}


.section_footer_commentInput{
    width: 98%;
    height: auto;
    resize: none;
    border-style: none;
    color: white;
    border-radius: 5px;
    margin-left: 15px;
    margin-bottom: 30px;
    font-size: 1.2rem;
    padding: 20px;
    background-color: var(--mainColor);
}

.section_footer_commentInput:focus{
    outline: none;
}

.section_footer_btnArea{
    width: 98%;
    height: 50px;
    margin-left: 15px;
    margin-bottom: 30px;
    text-align: end;
}

.section_footer_btnArea_btn{
    width: 85px;
    height: 35px;
    font-size: 1.2rem;
    border-radius: 5px;
    background-color: var(--mainColor);
    border: none;
    color: white;
}

.section_footer_commentList{
    width: 100%;
    height: auto;
    position : relative;
    padding-bottom : 50px;
}

.section_footer_commentList_viewMore{
	width: 100%;
	display:flex;
	align-items:center;
	justify-content : center;
	color:white;
	position : absolute;
	bottom : 10px;
	z-index : 1;
}

.section_footer_commentList_viewMore_btn{
	display:flex;
	flex-direction:column;
	align-items:center;
	justify-content : center;
	cursor:pointer;
}

.section_footer_commentList_viewMore_btn>i{
	font-size : 1.5rem;
}


.section_footer_commentList_comment{
    width: 98%;
    height: auto;
    margin-left: 15px;
    margin-bottom: 30px;
    background-color: var(--mainColor);
    border-radius: 5px;
    color: white;
    font-size: 1rem;
    padding: 20px;
    position: relative;
}

.section_footer_commentList_comment_text{
	width:100%;
	height: auto;
	white-space : pre-wrap;
}


.section_footer_commentList_comment_count{
    position: absolute;
    top: 20px;
    right: 20px;
}

.section_footer_commentList_comment>p{
    margin-bottom: 30px;
}

.section_footer_commentList_comment>p:nth-child(1){
    margin-bottom: 15px;
}
